apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://172.17.0.1:9091
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
